@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for 'CSS inline styles should not be used' warning */
#body-wrapper {
	display: contents;
}

/* Font Faces for code blocks */
@font-face {
	font-family: 'Cascadia Code';
	src: url('fonts/CascadiaCode-2111.01/woff2/CascadiaCode.woff2');
}

@font-face {
	font-family: 'Cascadia Code Italic';
	src: url('fonts/CascadiaCode-2111.01/woff2/CascadiaCodeItalic.woff2');
	font-feature-settings: 'calt', 'ss01';
}

kbd,
code,
pre {
	font-family: 'Cascadia Code';
}

[data-fancy-code='true'] code,
[data-fancy-code='true'] pre {
	font-family: 'Cascadia Code Italic';
	font-feature-settings: 'calt', 'ss01';
}

/* TODO: Replace '0 0 0' color placeholders with real ones */
@layer base {
	/* Desert Bus For Hope */
	[data-theme='desert-bus'] {
		--tpl: rgb(66 111 187);
		--theme-primary-light: 66 111 187;
		--tpd: rgb(48 81 138);
		--theme-primary-dark: 48 81 138;
		--tsl: rgb(255 255 255);
		--theme-secondary-light: 255 255 255;
		--tsd: rgb(28 187 187);
		--theme-secondary-dark: 28 187 187;
		--tal: rgb(247 204 88);
		--theme-accent-light: 247 204 88;
		--tad: rgb(56 116 203);
		--theme-accent-dark: 56 116 203;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
	/* Desert Bus Shift Banner Themes */
	/* Dawn Guard */
	[data-theme='dawn-guard'] {
		--tpl: rgb(213 127 63);
		--theme-primary-light: 213 127 63;
		--tpd: rgb(169 104 58);
		--theme-primary-dark: 169 104 58;
		--tsl: rgb(213 127 63);
		--theme-secondary-light: 213 127 63;
		--tsd: rgb(241 236 160);
		--theme-secondary-dark: 241 236 160;
		--tal: rgb(231 224 97);
		--theme-accent-light: 231 224 97;
		--tad: rgb(213 127 63);
		--theme-accent-dark: 213 127 63;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
	/* Alpha Flight */
	[data-theme='alpha-flight'] {
		--tpl: rgb(157 51 49);
		--theme-primary-light: 157 51 49;
		--tpd: rgb(86 30 29);
		--theme-primary-dark: 86 30 29;
		--tsl: rgb(157 51 49);
		--theme-secondary-light: 157 51 49;
		--tsd: rgb(196 133 131);
		--theme-secondary-dark: 196 133 131;
		--tal: rgb(154 120 119);
		--theme-accent-light: 154 120 119;
		--tad: rgb(157 51 49);
		--theme-accent-dark: 157 51 49;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
	/* Night Watch */
	[data-theme='night-watch'] {
		--tpl: rgb(87 158 201);
		--theme-primary-light: 87 158 201;
		--tpd: rgb(54 101 159);
		--theme-primary-dark: 54 101 159;
		--tsl: rgb(154 197 222);
		--theme-secondary-light: 154 197 222;
		--tsd: rgb(32 32 72);
		--theme-secondary-dark: 32 32 72;
		--tal: rgb(32 32 72);
		--theme-accent-light: 32 32 72;
		--tad: rgb(87 158 201);
		--theme-accent-dark: 87 158 201;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
	/* Zeta Shift */
	[data-theme='zeta-shift'] {
		--tpl: rgb(128 94 147);
		--theme-primary-light: 128 94 147;
		--tpd: rgb(79 51 111);
		--theme-primary-dark: 79 51 111;
		--tsl: rgb(128 94 147);
		--theme-secondary-light: 128 94 147;
		--tsd: rgb(179 158 190);
		--theme-secondary-dark: 179 158 190;
		--tal: rgb(149 133 168);
		--theme-accent-light: 149 133 168;
		--tad: rgb(128 94 147);
		--theme-accent-dark: 128 94 147;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
	/* Omega Shift */
	[data-theme='omega-shift'] {
		--tpl: rgb(138 196 197);
		--theme-primary-light: 138 196 197;
		--tpd: rgb(209 156 73);
		--theme-primary-dark: 209 156 73;
		--tsl: rgb(138 196 197);
		--theme-secondary-light: 138 196 197;
		--tsd: rgb(109 109 106);
		--theme-secondary-dark: 109 109 106;
		--tal: rgb(61 127 72);
		--theme-accent-light: 61 127 72;
		--tad: rgb(61 127 72);
		--theme-accent-dark: 61 127 72;
		--tnl: rgb(255 255 255);
		--theme-neutral-light: 255 255 255;
		--tnd: rgb(69 69 69);
		--theme-neutral-dark: 69 69 69;
	}
}
