@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cascadia Code';
	src: url('fonts/CascadiaCode-2111.01/woff2/CascadiaCode.woff2');
}
code,
pre {
	font-family: 'Cascadia Code';
}
